#Layer_1 {
    height: 15px;
    width: 15px;
    position: relative;
    right: 25px;
    margin-bottom: 5px;   
    cursor: pointer;
}

#Layer_2 {
    height: 15px;
    width: 15px;
    fill: #fff;
    margin-bottom: 2px;    
    cursor: pointer;
}

.col-lg-4{
    height: 100px;
}

.dropdown-item{
    cursor: pointer;
}