<div class="container">
    <form [formGroup]="addForm">
        <div class="row my-3">
            <h3 class="text-center">Add Data</h3>
            <div class="col-lg-4 my-1">
                <div class="form-group">
                    <label for="name" class="mb-2">Employees Name <span class="text-danger">*</span></label>
                    <input type="text" formControlName="name" class="form-control" id="name"
                        placeholder="Employees Name">
                </div>
                <div *ngIf="(submittedForm && addForm.get('name').errors) || 
                (addForm.get('name').touched && addForm.get('name').errors)"
                    class="text-danger basicForm  margin-bottom-thin my-mat-hint">
                    <p *ngIf="addForm.get('name').errors['required']">Employees Name is required.</p>
                </div>
            </div>

            <div class="col-lg-4 my-1">
                <div class="form-group">
                    <label for="department" class="mb-2">Departments <span class="text-danger">*</span></label>
                    <textarea class="form-control" formControlName="department" id="department" rows="1"
                        placeholder="Departments"></textarea>
                </div>
                <div *ngIf="(submittedForm && addForm.get('department').errors) || 
                (addForm.get('department').touched && addForm.get('department').errors)"
                    class="text-danger basicForm  margin-bottom-thin my-mat-hint">
                    <p *ngIf="addForm.get('department').errors['required']">Departments is required.</p>
                </div>
            </div>

            <div class="col-lg-4 my-1">
                <div class="form-group">
                    <label for="salary" class="mb-2">Salary <span class="text-danger">*</span></label>
                    <input type="number" formControlName="salary" class="form-control" id="salary" placeholder="Salary">
                </div>
                <div *ngIf="(submittedForm && addForm.get('salary').errors) || 
                (addForm.get('salary').touched && addForm.get('salary').errors)"
                    class="text-danger basicForm  margin-bottom-thin my-mat-hint">
                    <p *ngIf="addForm.get('salary').errors['required']">Salary is required.</p>
                </div>
            </div>
            <div class="col-lg-12 mt-3 text-center">
                <button *ngIf="buttonLabel == 'Add'" class="btn btn-success"
                    (click)="submit('add')">{{buttonLabel}}</button>
                <button *ngIf="buttonLabel == 'Edit'" class="btn btn-success"
                    (click)="submit('edit')">{{buttonLabel}}</button>
            </div>
        </div>
    </form>


    <div class="row my-3">
        <div class="col-lg-12 my-3 text-end">
            <input type="text" placeholder="Search" (keyup)="searchFilter($event.target)">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="122.879px" height="119.799px"
                viewBox="0 0 122.879 119.799" enable-background="new 0 0 122.879 119.799" xml:space="preserve">
                <g>
                    <path
                        d="M49.988,0h0.016v0.007C63.803,0.011,76.298,5.608,85.34,14.652c9.027,9.031,14.619,21.515,14.628,35.303h0.007v0.033v0.04 h-0.007c-0.005,5.557-0.917,10.905-2.594,15.892c-0.281,0.837-0.575,1.641-0.877,2.409v0.007c-1.446,3.66-3.315,7.12-5.547,10.307 l29.082,26.139l0.018,0.016l0.157,0.146l0.011,0.011c1.642,1.563,2.536,3.656,2.649,5.78c0.11,2.1-0.543,4.248-1.979,5.971 l-0.011,0.016l-0.175,0.203l-0.035,0.035l-0.146,0.16l-0.016,0.021c-1.565,1.642-3.654,2.534-5.78,2.646 c-2.097,0.111-4.247-0.54-5.971-1.978l-0.015-0.011l-0.204-0.175l-0.029-0.024L78.761,90.865c-0.88,0.62-1.778,1.209-2.687,1.765 c-1.233,0.755-2.51,1.466-3.813,2.115c-6.699,3.342-14.269,5.222-22.272,5.222v0.007h-0.016v-0.007 c-13.799-0.004-26.296-5.601-35.338-14.645C5.605,76.291,0.016,63.805,0.007,50.021H0v-0.033v-0.016h0.007 c0.004-13.799,5.601-26.296,14.645-35.338C23.683,5.608,36.167,0.016,49.955,0.007V0H49.988L49.988,0z M50.004,11.21v0.007h-0.016 h-0.033V11.21c-10.686,0.007-20.372,4.35-27.384,11.359C15.56,29.578,11.213,39.274,11.21,49.973h0.007v0.016v0.033H11.21 c0.007,10.686,4.347,20.367,11.359,27.381c7.009,7.012,16.705,11.359,27.403,11.361v-0.007h0.016h0.033v0.007 c10.686-0.007,20.368-4.348,27.382-11.359c7.011-7.009,11.358-16.702,11.36-27.4h-0.006v-0.016v-0.033h0.006 c-0.006-10.686-4.35-20.372-11.358-27.384C70.396,15.56,60.703,11.213,50.004,11.21L50.004,11.21z" />
                </g>
            </svg>

            <span class="dropdown">
                <button class="btn btn-secondary dropdown-toggle mx-3" type="button" id="filterButton"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision"
                        text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd"
                        clip-rule="evenodd" viewBox="0 0 512 410.73">
                        <path fill-rule="nonzero"
                            d="M335.62 410.73H164.96V239.89L13.31 59.96C7.33 52.52 3.19 44.79 1.29 37.65c-1.79-6.72-1.76-13.28.34-19.1 2.3-6.44 6.92-11.63 13.91-14.9C20.35 1.41 26.3.13 33.4.1L472.7.04c7.93-.29 14.95.96 20.74 3.44 7.02 2.97 12.28 7.87 15.44 14.17 3.05 6.1 3.93 13.27 2.34 21.06-1.5 7.24-5.17 15.11-11.32 23.16l-151.94 178.1v170.76h-12.34zm95.61-347.71-69.16 81.05-18.67-16.01 69.16-81.05 18.67 16.01zm-84.8 99.39-24.45 28.66-18.68-16.01 24.45-28.66 18.68 16.01zM189.64 386.06h133.64V235.48l3-8L480.45 46.79c3.77-4.97 5.94-9.39 6.7-13.04.45-2.2.35-3.95-.24-5.12-.49-.97-1.58-1.87-3.19-2.55-2.53-1.13-6.06-1.64-10.44-1.42l-439.84.06c-3.33-.05-5.83.41-7.5 1.18-.68.32-1.09.65-1.18.92-.32.91-.2 2.48.33 4.46 1.05 3.96 3.61 8.57 7.38 13.28L186.7 227.59l2.94 7.89v150.58z" />
                    </svg>
                    Filter
                </button>
                <ul class="dropdown-menu" aria-labelledby="filterButton">
                    <li class="dropdown-item" (click)="sortData('salary')">Low to High</li>
                    <li class="dropdown-item" (click)="setFilter('department')">Departments</li>
                </ul>
            </span>
        </div>
        <h3 class="text-center">Data</h3>
        <table class="table table-striped text-left table-responsive">
            <thead>
                <tr>
                    <th scope="col">Employees ID</th>
                    <th scope="col">Employees Name</th>
                    <th scope="col">Departments</th>
                    <th scope="col">Salary</th>
                    <th class="text-center" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of formData">
                    <td>{{data?.id}}</td>
                    <td>{{data?.name}}</td>
                    <td>{{data?.department}}</td>
                    <td>{{data?.salary}}</td>
                    <td class="text-center"><button class="btn btn-secondary" (click)="editData(data?.id)">Edit</button>
                        | <button class="btn btn-danger" (click)="deleteData(data?.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>